<div class="jumbotron">
    <h1>Car Database Application</h1>
</div>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/app/car-controller.js"></script>

<div ng-app="CarApp" ng-controller="CarCtrl">
    <table class="table-bordered" align="center">
        <tr>
            <th width="130px" align="center">ID</th>
            <th width="130px" align="center">Production Year</th>
            <th width="130px" align="center">Car</th>
        </tr>
        <tr  ng-repeat="cars in cars">
            <td width="130px" align="center">{{cars.Id}}  </td>
            <td width="130px" align="center">{{cars.ProductionYear}}  </td>
            <td width="130px" align="center"> {{cars.Brand}} </td>
        </tr>
    </table>
</div>
